@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif; 
    background-color: #333333;
}

.navbar {
    background-color: #4169E1;
}

.navbar a {
    color: #fff !important;
}

.container {
    margin-top: 20px;
}

h1, h2 {
    color: #ffffff;
    font-weight:bold;
}

.form-group {
        color: #ffffff;
    margin-bottom: 15px;
}

p{
    color: #ffffff;
}

